.header-section{
    display: flex;
    background-color: #E554731A;
    
}
.aaa{
    margin: 0px;
}
.header-line{
    padding-left:150px;
    padding-right: 100px;
    padding-top: 50px;
 
}
.header-h{
    color: #272727;
font-family: Lato;
 font-size: 70px;
 margin-right: 30px;




}
.header-p{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
 font-size: 18px;
 margin-right: 10px;

}
.header-b{
    color: #FFF;
font-family: Lato;
 font-size: 15px; 
background-color: #E55473;
border-radius: 8px;
padding: 18px 40px 18px 40px;
border: none;


}
.header-img{
    margin-right: 40px;
    margin-bottom: -4px;
   
    /* margin-top: 50px; */
    

}
.clor{
    color:#E55473 ;
}
.second-section{
    display: flex;
    background-color:#E554730D;
    
}
/* .second-line{ */
   
/* } */
.second-h{
    margin-left: 300px;
    margin-top: 200px;
    color: #272727;
font-family: Lato;
font-size: 35px;
/* font-weight: 800; */


}
.second-p{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 16px;
/* font-weight: 400; */
/* line-height: 30px; */
margin-left: 250px;
margin-right: 200px;
}
.header-bu{
    color: #FFF;
    font-family: Lato;
     font-size: 20px; 
    background-color: #E55473;
    border-radius: 8px;
    padding: 20px 43px 20px 43px;
    border: none;
    margin-left: 420px;
}
.second-img{
    width: 318px;
    height: 420px;
    margin-top:100px ;
    /* margin-left: 1175px; */
      margin-right:250px ;  
    margin-left: 30px;
    margin-bottom: 100px;

}
.first-h{
    
color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;

}
.first-p{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
margin-left: 480px;
margin-right: 480px;


}
.first-allimg{
     /* margin-left: 240px;   */
    justify-content: space-between;
     margin-right: 240px; 
    /* text-align: center; */
    margin-bottom: 150px;
    display: flex;
     /* padding: 100px 150px 100px 300px;  */
    /* border: 2px solid black; */
  
}
.first-imgx{
margin-left: 150px;
margin-bottom: 42px;
border: none;
border-top-left-radius:185px;
border-top-right-radius: 185px;
padding: 40px;
padding-bottom: 0px;
background-color: #A7216226;
box-sizing: content-box;
}
.first-imgy{
    margin-left:20px;
    margin-bottom: 42px;
    border: none;
    border-top-left-radius:185px;
    border-top-right-radius: 185px;
    padding: 18px;
    padding-bottom: 80px;
    background-color: #0597A026;
    
    }
    .first-imgz{
        margin-left: 20px;
margin-bottom: 42px;
border: none;
border-top-left-radius:185px;
border-top-right-radius: 185px;
padding: 17px;
padding-bottom:0px;
background-color: #477D1126;
margin-top: 23px;
box-sizing: content-box;
        }
        .xyz{
            border-bottom: 2px solid black;
            margin-left: 250px;
            margin-right: 172px;
            margin-top: -1px;
          

        }
        .xyza{
            border-bottom: 2px solid black;
            margin-left: 150px;
            margin-right: 155px;
            margin-top: -1px;

        }
        .xyzb{
            border-bottom: 2px solid black;
            margin-left: 150px;
            margin-right: 95px;
            margin-top: -1px;
        }

.extra-section{
    display: flex;
    margin-left:150px ;
    margin-right:150px ;
    justify-content: space-around;
    background-color:#2727270D ;
    margin-bottom: 120px;
    padding: 70px;
    margin-top: 30px;
}
.x{
    padding-left: 120px;
}
.y{
    padding-left: 100px;
}
.z{
    padding-left: 35px;
}
.a{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-family: Lato;
font-size: 20px;
}





.third-line{
    text-align: center;
}
.third-h{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 35px;
}
.third-p{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 15px;
margin-left: 520px;
margin-right: 520px;
}
.third-allimg{
    text-align: center;
    /* margin-left:100px; */
    justify-content: space-around;
    /* margin-right: 100px; */
    margin-bottom: 100px; 
    padding-right: 150px;
    padding-left: 150px;
   
}
.third-allimg img {
    width: 22%;
    margin-right: 20px;
}
.forth-section{
    background-image: url(../Rectangle\ 9.png);
    background-repeat: no-repeat;
    margin-left: 150px;
    margin-right: 150px;
    padding: 0px;
  background-size: cover;
}
.forth-h{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 30px;
padding-top: 122px;
}
.forth-p{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 10px;

}
.allinput{
 padding-left: 270px;
 
 
 padding-bottom: 121px;
}
.forth-input{
    background: #FFF;
  
    padding-left:18px;
    padding-top: 18px;
    padding-right: 400px;
    padding-bottom: 18px;
    border: none;
    border-radius: 8px;
   
}
.forth-button{
    color: #FFF;
    font-family: Lato;
     font-size: 15px; 
    background-color: #E55473;
    border-radius: 8px;
    padding: 18px 38px 15px 38px;
    border: none;
}
.footer-htwo{
    color: #E55473;
font-family: Lato;
font-size: 40px;
margin-left: 650px;
margin-right: 600px;
padding-top: 128px;
margin-top: 100px;

}
.footer-hfive{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 520px;
    margin-right: 520px;


}
.footer-p{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 12px;
padding-bottom: 128px;

}
.footer-section{
    background-color: #111010;
}
.footer-span{
    color: #FFFFFF;
}
.bonus-section{
   
    margin-bottom: 150px;
    background-color: #E554730D;
}
.bonus-h{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 35px;
    padding-top: 100px;
}
.bonus-p{
    color: rgba(16, 14, 14, 0.6);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    padding-left: 150px;
    padding-right: 150px;
}
.bonus-img{
    height: 425px;
    width:1535px ;
}

