.header-section{
    display: flex;
    background-color: #E554731A;

}
.header-line{
    padding-left:240px;
    padding-right: 200px;
    padding-top: 120px;
 
}
.header-h{
    color: #272727;
font-family: Lato;
 font-size: 75px;




}
.header-p{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
 font-size: 18px; 

}
.header-b{
    color: #FFF;
font-family: Lato;
 font-size: 20px; 
background-color: #E55473;
border-radius: 8px;
padding: 20px 43px 20px 43px;
border: none;


}
.header-img{
    margin-right: 240px;
    margin-top: 50px;
    

}
.clor{
    color:#E55473 ;
}
.second-section{
    display: flex;
    background-color:#E554730D;
    
}
/* .second-line{ */
   
/* } */
.second-h{
    margin-left: 423px;
    margin-top: 230px;
    color: #272727;
font-family: Lato;
font-size: 40px;
font-weight: 800;


}
.second-p{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-left: 393px;
margin-right: 100px;
}
.header-bu{
    color: #FFF;
    font-family: Lato;
     font-size: 20px; 
    background-color: #E55473;
    border-radius: 8px;
    padding: 20px 43px 20px 43px;
    border: none;
    margin-left: 580px;
}
.first-h{
    
color: #272727;
text-align: center;
font-family: Lato;
font-size: 48px;

}
.first-p{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
margin-left: 663px;
margin-right: 663px;


}
.first-allimg{
    margin-left: 240px; 
     margin-right: 240px; 
    text-align: center;
    margin-bottom: 150px;
    display: flex;
    padding: 100px;
  
}
.extra-section{
    display: flex;
    margin-left:240px ;
    margin-right:240px ;
    justify-content: space-around;
    background-color:#2727270D ;
    margin-bottom: 150px;
    padding: 100px;
}
.x{
    padding-left: 120px;
}
.y{
    padding-left: 100px;
}
.z{
    padding-left: 35px;
}
.a{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-family: Lato;
font-size: 24px;
}




.second-img{
    width: 318px;
    height: 420px;
    margin-top:100px ;
    /* margin-left: 1175px; */
     margin-right:429px ; 
    margin-left: 150px;
    margin-bottom: 100px;

}
.third-line{
    text-align: center;
}
.third-h{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
}
.third-p{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
margin-left: 663px;
margin-right: 663px;
}
.third-allimg{
    text-align: center;
    margin-left:240px;
    margin-right: 240px;
    margin-bottom: 100px;
   
}
.forth-section{
    background-image: url(../Rectangle\ 9.png);
    background-repeat: no-repeat;
    margin-left: 240px;
    margin-right: 240px;
}
.forth-h{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
padding-top: 122px;
}
.forth-p{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;

}
.allinput{
 padding-left: 227px;
 
 padding-bottom: 121px;
}
.forth-input{
    background: #FFF;
  
    padding-left:23px;
    padding-top: 23px;
    padding-right: 513px;
    padding-bottom: 23px;
    border: none;
    border-radius: 8px;
   
}
.forth-button{
    color: #FFF;
    font-family: Lato;
     font-size: 20px; 
    background-color: #E55473;
    border-radius: 8px;
    padding: 20px 43px 20px 43px;
    border: none;
}
.footer-htwo{
    color: #E55473;
font-family: Lato;
font-size: 48px;
margin-left: 831px;
margin-right: 832px;
padding-top: 128px;
margin-top: 100px;

}
.footer-hfive{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 648px;
    margin-right: 649px;


}
.footer-p{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
padding-bottom: 128px;

}
.footer-section{
    background-color: #111010;
}
.footer-span{
    color: #FFFFFF;
}
.bonus-section{
   
    margin-bottom: 150px;
    background-color: #E554730D;
}
.bonus-h{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    padding-top: 122px;
}
.bonus-p{
    color: rgba(16, 14, 14, 0.6);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    padding-left: 230px;
    padding-right: 230px;
}
.bonus-img{
    height: 600px;
    width:1920px ;
}
